@tailwind base;
@tailwind components;
@tailwind utilities;
.inner{
height: 100px;
width: 100px;
border-radius: 100px;
border: 13px rgb(39, 216, 139) solid;

}
.outer{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    /* background: linear-gradient(to right, red, orange); */
    border: 12px;
}

*{
    margin: 0;
    padding: 0;
}
.more{
    border-left:  2px solid rgb(46, 52, 221);
}

/*  639px */
@media only screen and (min-width: 639px){
    #bottom{
        display: none;
    }

 

}
@media only screen and (max-width: 640px){
    #bottom{
        height: 40px;

    }
    #main{
        display: flex;
        flex-direction: column;
       
             
         }
         #pro{
            width: auto;
            height: 100%;
            margin: 0;
            color: black;
            justify-items: center;
            align-items: center;
         }
         .useless{
            display: none;
         }
 #data{
    justify-content: center;
    align-items: center;
 }
 #stat{
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
 }
 #gola{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
 }
 .outer{
    margin-top: 22px;
    justify-content: center;
    align-items: center;
 }
 #third{
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

 }
 #update{
    width: 100%;
    height: 100%;
margin-bottom: 8.5rem;
}
#tras{
    width: fit-content;
    height: fit-content;
}
#iwan{
    width: 150px;
}

}

